bcrypt
click
Flask
Flask-Bcrypt
Flask-Login
Flask-Mail
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
Pillow
pycparser
six
SQLAlchemy
typing-extensions
Werkzeug
WTForms
zipp
