{% extends 'layout.html' %}

{% block content %}
 <!-- learnsection -->
 <section class="learnsection">
    <div class="container grid">
        <div class="learnsection-info card">
            <h1>What is VIP?</h1>
            <p>Value-averaging investment plan (VIP) is a method of investing in the market that tries to lower the cost of purchase of units more effectively than a regular systematic investment plan. In this method, the amount of money invested on a monthly basis is flexible and varies within a range of minimum and maximum. In contrast, the amount of money invested using SIP is constant every month.</p>
        </div>
        <div class="learnsection-info card">
            <h1>How to invest?</h1>
            <ul>
                <li>
                    VIP is an investment strategy that involves making regular contributions to a portfolio over time.
                </li>
                <li>
                    Invest more when the price or portfolio value falls.
                </li>
                <li>
                    Invest less when the price or portfolio value rises.
                </li>
                <li>
                    Note:VIP is suited for investors who can tolerate investing different sums of money each month.
                </li>
            </ul>
        </div>
        <div class="learnsection-info card">
            <h1>Example</h1>
            <div>
                IF monthly installment is 500 and expected yearly returns % is 12% then monthly rate is 1%.
                 500 should grow 1% in the 1st month. If the portfolio value is 510 in the 1st month, current value is higher than expected, So invest <strong>495</strong> which is monthly installment(500)-differece(5) where -5 is expected value - current value.
            </div>
            
      </div>
    </div>
</section>
{% endblock content %}